@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.font-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
